:root{
    --accent-color: #FFD000;
    --text-color: #1F1F1F;
    --text-dark-color: #1F1F1F; /*for text that is supposed to always be dark*/
    --background-color: #FFFFFF;
    --shadow-color: #A7A7A7;
    --shadow-hover-color: #474747;
    --shadow-static-color: #808080;
    --header-color: #FFD000;
    --line-color: #D3D3D3;
    --box-active-small-color: #B4B4B4; /*used for buttons and such*/
    --box-passive-small-color: #D3D3D3; /*used for tags and such*/
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
}

div{
    font-family: Arial, Helvetica, sans-serif;
}
  
a{
    color: var(--text-color);
    text-decoration: none;
}

button{
    cursor: pointer;
}

.loading{
    padding: .5em;
}

.error{
    border: 1px solid #FF0000;
    border-radius: .5em;
    background-color: #FF6464;
    padding: .5em;
}

.error:empty{
    display: none;
}

.success{
    border: 1px solid #008000;
    border-radius: .5em;
    background-color: #90EE90;
    padding: .5em;
}

.success:empty{
    display: none;
}

.warning{
    border: 1px solid #FF6600;
    border-radius: .5em;
    background-color: #FA9654;
    padding: .5em;
}

.warning:empty{
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root{
        --text-color: #FFFBE4;
        --background-color: #161516;
        --shadow-color: #0A0A0A;
        --shadow-hover-color: #000000;
        --shadow-static-color: #0C0C0C;
        --header-color: #1E1E1E;
        --line-color: #303030;
        --box-active-small-color: #6E6E6E;
        --box-passive-small-color: #505050;
    }

    .error{
        background-color: #FF0000;
    }

    .success{
        background-color: #008000;
    }

    .warning{
        background-color: #FF6600;
    }
}