.popup{
    color: inherit;
    border-radius: .5em;
    box-shadow: 0 0 10px gray;
    padding: 1rem;
    min-width: 15em;
    border: none;
}

.popup::backdrop{
    background: rgba(40, 40, 40, 0.25);
}

.popup h3{
    margin-left: 0;
    margin-top: .5em;
    white-space: nowrap;
}

.popup ul{
    list-style: none;
    padding-left: 0;
}

.popup button{
    background-color: rgb(180, 180, 180);
    border:none;
    color: inherit;
    border-radius: .5em;
    padding: .5em;
}

#close_button{
    float: right;
    position: relative;
    right: -.5rem;
    top: -.5rem;
    padding: 0;
    background-color: transparent;
    border: none;
}

#close_button img{
    height: 1.5em;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (prefers-color-scheme: dark){
    .popup{
        background-color: #161516;
        box-shadow: 0 0 10px #030303;
    }

    .popup input{
        background-color: #1e1e1e;
        color: #FFFBE4;
    }

    .popup input[type=checkbox]{
        background: rgb(60, 60, 60);
    }

    .popup button{
        background-color: rgb(110,110,110);
    }
}