.delete_menu{
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: .5em;
}

.delete_menu p{
    margin-top: 0;
}

.delete_menu button{
    margin-right: 1em;
    background-color: rgb(180, 180, 180);
    border:none;
    color: inherit;
    border-radius: .5em;
    padding: .5em;
}

@media (prefers-color-scheme: dark){
    .delete_menu button{
        background-color: rgb(110,110,110);
    }
}