#filter{
    background-color: transparent;
    border: none;
    padding: .5em;
}

.filter_menu{
    position: absolute;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: .5em;
    width: 50%;
    left: 25%;
    display: flex;
}