#filter{
    background-color: transparent;
    border: none;
    padding: .5em;
    vertical-align: middle;
}

#filter img{
    height: 1em;
}

.filter_menu[open]{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: .5em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

@media (prefers-color-scheme: dark){
    .filter_menu[open]{
        background-color: rgb(60, 60, 60);
        box-shadow: 0 0 10px black;
        border: none;
    }
}