.filter_item{
    border-radius: .5em;
    border: none;
    background-color: lightgray;
    margin: 1em;
}

.filter_item input{
    margin-right: .5em;
}

@media (prefers-color-scheme: dark){
    .filter_item{
        background-color: rgb(80, 80, 80);
    }
}