#filter{
    background-color: transparent;
    border: none;
    padding: .5em;
    vertical-align: middle;
}

#filter img{
    height: 1em;
}

.filter_menu[open]{
    background-color: var(--background-color);
    border: 1px solid var(--line-color);
    border-radius: .5em;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}