.filter_item{
    border-radius: .5em;
    border: none;
    background-color: var(--box-active-small-color);
    margin: 1em;
    color: var(--text-color)
}

.filter_item input{
    margin-right: .5em;
}