.header{
    padding: 1em;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header p{
    padding: 0;
}

.header a{
    padding: 0;
}

#left_part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left_part button{
    margin-right: 2em;
    background: none;
    border: none;
}

#left_part button img{
    min-width: 2em;
    min-height: 2em;
}

#logo{
    height: 100%;
    min-width: 3em;
    min-height: 3em;
}

@media (prefers-color-scheme: dark) {
    .header{
        background-color: #1e1e1e;
    }

    .header a{
        color: yellow;
    }
}