.header{
    padding: 1em;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header p{
    padding: 0;
}

.header a{
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    .header{
        background-color: rgb(60, 60, 60);
    }

    .header a{
        color: yellow;
    }
}