.ingredient_list table{
    border-spacing: .5em;
}

.ingredient_list button{
    background-color: transparent;
    border: none;
    border-radius: .5em;
    color: var(--text-color);
    margin-top: .2em;
}

.ingredient_list hr{
    height: 1px;
    background-color: var(--line-color);
    border-width: 0;
}

.ingredient_list{
    margin-left: 0 !important;
}

.title_bar{
    display: flex;
    flex-direction: row;
}

#main_ingredient_group{
    width: 10ch;
}

.ingredient_list input:placeholder-shown{
    width: 8em !important;
}