.ingredient input{
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    outline: none;
    border: none;
    min-width: 2em;
    font-weight: normal;
}

.ingredient input:placeholder-shown{
    width: 5em !important;
}

.ingredient td:first-child input{
    text-align: right;
    margin-right: 1em;
}
.ingredient button{
    height: 1em;
    width: 1em;
    background: none;
    border: none;
}

.ingredient img{
    height: 1em;
    width: 1em;
}