.ingredient input{
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    outline: none;
    border: none;
}

.ingredient td:first-child{
    display: flex;
    justify-content: right;
}

.ingredient td:first-child input{
    text-align: right;
    margin-right: 1em;
}
.ingredient button{
    height: 1em;
    background: none;
    border: none;
}

.ingredient img{
    height: 1em;
}