.ingredient_list table{
    border-spacing: .5em;
}

.ingredient_list button{
    background-color: var(--box-active-small-color);
    border: none;
    border-radius: .5em;
    color: var(--text-color);
    width: 10em;
    height: 2em;
}