.ingredient_list table{
    border-spacing: .5em;
}

.ingredient_list button{
    background-color: transparent;
    border: none;
    border-radius: .5em;
    color: var(--text-color);
    margin-top: .2em;
}

.title_bar{
    display: flex;
    flex-direction: row;
}