.keyword{
    background-color: var(--box-passive-small-color);
    border-radius: 5px;
    padding: .5em;
    margin-bottom: 1rem;
}

.keyword input{
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    outline: none;
    border: none;
}

.keyword input:placeholder-shown{
    width: 4em !important;
}

.keyword button{
    height: 1em;
    background: none;
    border: none;
}

.keyword img{
    height: 1em;
    width: 1em;
}