.images{
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

.images img{
    width: 100%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

.images{
    background-color: inherit;
}

.image_buttons{
    position: relative;
    top: -3rem;
    background-color: inherit;
    width: auto;
    height: 3rem;
    border-top-left-radius: .5em;
    float: right;
    display: flex;
    flex-direction: row;
}

.image_buttons button{
    height: 2rem;
    width: 2rem;
    margin: .5rem;
    padding: 0;
    background: none;
    border: none;
    color: inherit;
}

.image_buttons img{
    height: 1.5rem;
}

input[type=file]{
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    text-align: center;
    line-height: 50em;
}