.ingredient_group_list input{
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    outline: none;
    border: none;
    min-width: 2em;
    font-weight: bold;
}

.ingredient_group_list section:first-of-type hr{
    display: none;
}

.ingredient_group_list button{
    background-color: var(--box-active-small-color);
    border: none;
    border-radius: .5em;
    padding: .5em;
    color: var(--text-color)
}