.recipe_heading{
    font-size: 2em;
    font-weight: bold;
    background: transparent;
    border: none;
    padding: 0;
    color: var(--text-color);
    margin: 1rem;
    width: fit-content;
}

.recipe_heading:placeholder-shown{
    width: 10em !important;
}