.ingredient_group_list input{
    padding: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    outline: none;
    border: none;
    min-width: 2em;
    font-weight: bold;
}

.ingredient_group_list section:first-of-type hr{
    display: none;
}