.recipe_card{
    border-radius: .5em;
    box-shadow: 0 0 10px var(--shadow-color);
    transition: 0.3s;
}

.recipe_card:hover{
    box-shadow: 0 0 10px var(--shadow-hover-color);
}

.recipe_card a{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.recipe_card img{
    width: 100%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}

.recipe_card h1{
    margin-left: .5em;
    margin-right: .5em;
}