.recipe_card{
    border-radius: .5em;
    box-shadow: 0 0 10px rgb(167, 167, 167);
    transition: 0.3s;
    width: 20%;
}

.recipe_card:hover{
    box-shadow: 0 0 10px rgb(71, 71, 71);
    
}

.recipe_card a{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.recipe_card img{
    width: 100%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
}