.search{
    height: 2em;
}

.search select{
    background-color: white;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border: 1px solid lightgray;
    padding: .5em;
}

.search input{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: none;
    border-right: none;
    padding: .5em;
    outline: none;
}

.search #begin_search{
    background-color: white;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border: 1px solid lightgray;
    padding: .5em;
}

.search #filter{
    background-color: transparent;
    border: none;
    padding: .5em;
}