.search{
    height: 2em;
}

.search select{
    background-color: white;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    border: 1px solid lightgray;
    padding: .5em;
    height: 100%;
    vertical-align: middle;
}

.search input{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: none;
    border-right: none;
    padding: .5em;
    outline: none;
    height: 100%;
    vertical-align: middle;
}

.search #begin_search{
    background-color: white;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    border: 1px solid lightgray;
    padding: .5em;
    height: 100%;
    margin: 0;
    vertical-align: middle;
}

.search #begin_search img{
    height: 1em;
}

@media (prefers-color-scheme: dark) {
    .search select{
        background-color: rgb(60, 60, 60);
        border: 1px solid yellow;
        color: yellow;
    }

    .search input{
        border-top: 1px solid yellow;
        border-bottom: 1px solid yellow;
        background-color: rgb(60, 60, 60);
        color: white;
    }

    .search #begin_search{
        background-color: rgb(60, 60, 60);
        border: 1px solid yellow;
    }
    
}