.sidebar{
    float: left;
    background-color: var(--background-color);
    height: calc(100% - 4.5em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    position: fixed;
    top: 4.5em;
}

.sidebar hr{
    margin: 0 0 1em 0;
    height: 1px;
    border-width: 0;
    color: var(--line-color);
    background-color: var(--line-color);
}

#create_button{
    text-align: center;
    padding-bottom: 0;
}

#create_button button{
    padding: 1em 3em;
    background-color: var(--accent-color);
    color: var(--text-dark-color);
    border: none;
    border-radius: .5em;
}

.sidebar section, footer{
    padding: 1em;
}

.sidebar footer p{
    margin-bottom: 0;
}

.sidebar section h2{
    margin-top: 0;
}

.sidebar > footer > a > img {
    height: 1em;
    margin-left: .2em;
}

.sidebar > footer > a {
    margin-top: .25em;
    display: block;
}

#top_rule{
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .sidebar{
        background-color: var(--header-color);
    }
}