.sidebar{
    float: left;
    background-color: white;
    position: absolute;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.sidebar hr{
    margin: 0 1em;
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
}

#top_rule{
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .sidebar{
        background-color: #1e1e1e;
    }
}