.sidebar{
    float: left;
    background-color: var(--background-color);
    position: absolute;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.sidebar hr{
    margin: 0 1em;
    height: 1px;
    border-width: 0;
    color: var(--line-color);
    background-color: var(--line-color);
}

#top_rule{
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    .sidebar{
        background-color: var(--header-color);
    }
}