.home{
    padding: 1em;
    margin-top: 4.5em;
}

.home .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    gap: 2rem;
}

@media (max-width: 500px){
    .home{
        margin-top: 6.5em;
    }
}